.catalog-products {
    background-color: #f0f0f0;
}

.catalog-products__item {
    display: flex;
    justify-content: space-between;
}

.filters {
    width: 200px;
}

.filters__title {
    padding: 25px 0 60px;
    font-size: 1.6rem;
    font-family: "Raleway", "Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 18px;
    text-transform: uppercase;
}

fieldset {
    border: none;
}

.catalog__title {
    font-weight: 700;
    line-height: 20px;
    border-top: 2px solid #000;
    width: 100%;
    padding: 12px 0 30px;
}

.arrow-button-wrapper {
    display: flex;
}

.arrow-button-wrapper:focus-within {
    outline: 2px solid #af4fff;
}

.catalog-arrow-button {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../images/catalog/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
}

.button-down {
    transform: rotate(180deg);
}

.catalog-arrow-button:hover {
    opacity: 0.5;
}

.catalog-arrow-button:focus {
    outline: none;
}

.visually-hidden {
    display: none;
}

.control-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 35px;
}

.catalog-button {
    border: none;
    text-transform: uppercase;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8f5zhPwAHWgLHG8mznwAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-size: 100% 7px;
    background-position: 25% 54%;
    display: inline-block;
    position: relative;
    padding: 0 10px;
    font-size: 1.8rem;
    font-family: "Raleway", "Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
}

.catalog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 40px;
}

.catalog-list {
    width: 840px;
}

.catalog-title {
    font-size: 1.6rem;
    font-family: "Raleway", "Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 18px;
    text-transform: uppercase;
}

.select-control {
    border: none;
    background: transparent;
    font-size: 1.8rem;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    line-height: 30px;
    padding-right: 30px;
}

.product {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
}

.product-group {
    background-color: #fff;
    padding-bottom: 78px;
}

.product__item {
    margin-top: 44px;
}

.product-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
}

.product__title {
    font-weight: 700;
    line-height: 20px;
}

.galary-button {
    padding: 18px 0;
    margin: 44px 30px;
    background-color: transparent;
    width: 780px;
    border: 3px solid #e5e5e5;
    font-size: 1.6rem;
    font-family: "Raleway", "Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
}

.pages-navigation {
    margin: 0 30px;
}

.pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    list-style: none;
    background-color: #ebebeb;
}

.pagination-item:first-child {
    margin-right: auto;
}

.pagination-item:last-child {
    margin-left: auto;
}

.pagination-link {
    display: block;
    box-sizing: border-box;
    padding: 26px 23px;
    font-family: Raleway, sans-serif;
    font-size: 1.8rem;
    line-height: 20px;
    font-weight: 800;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.2em;
}

.pagination-page-number {
    display: block;
    width: 40px;
    font-size: 1.6rem;
    line-height: 71px;
    font-weight: 400;
    text-align: center;
    color: #4444444d;
    text-decoration: none;
}

.pagination-page-number {
    ::before {
        content: "";
        position: absolute;
        top: 13px;
        left: -2px;
        width: 44px;
        height: 44px;
    }
    &:hover{
        color: #444444;
    }
    &:focus {
        outline: none;
    }   
}