.range {
    position: relative;
    margin-bottom: 31px;
    padding-top: 8px;
  }
  
  .range-scale {
    margin-bottom: 15px;
  }
  
  .range-bar {
    position: absolute;
    height: 2px;
    background-color: #000000;
  }
  
  .range-toggle {
    position: absolute;
    width: 18px;
    height: 18px;
    background: #ebebeb;
    border: 2px solid #000000;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .toggle-min {
    top: -8px;
  }
  
  .toggle-max {
    top: -8px;
    right: -9px;
  }
  
  .range-wrapper-inputs {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    line-height: 18px;
    opacity: 0.3;
    padding-bottom: 30px;
  }
  
  .range-input {
    width: 30px;
    padding: 0 4px;
    font: inherit;
    background-color: transparent;
    border: none;
    &:focus {
      outline: none;
    }  
  }
  